.root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--font_color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow: hidden;
  height: 100dvh;
}

body {
  overflow: hidden;
  margin: 0;
  display: flex;
  background-color: var(--main_color);
  min-height: 100vh;
  height: 100dvh;
  --default_box_shadow: 0px 0px 10px 0px black;
  --default_border_radius: 7px;
  --default_border: 1px rgb(200, 200, 200) solid;
  --accent_color1: rgb(26, 24, 24);
  --accent_color2: rgb(80, 80, 80);
  --main_color: rgb(11, 11, 11);
  --font_color: rgb(32, 32, 32);
}
